// You can add CSS rules here that will be inlined into each document.
.sidebar a {
  text-shadow: rgba(0, 0, 0, 0.25) 0.1rem 0.1rem 0.15rem;
}
.avatar {
    display: none;
}
.sidebar-social{
    display: none;
}
.sidebar {
    color: #000000bf;
}
.nav-span{
   display: none;
}
#_swipe{
   display: none;
}
//h1 {
//    font-weight : 600;
//}
.navbar>.content::before{
	box-shadow: none;
}
#breadcrumbs>ul {
    margin: -3rem 0 .5rem;
}

a.nav-btn:focus, button.nav-btn:focus {
    background-image: none;
}

a.nav-btn:hover, button.nav-btn:hover {
    background-image: linear-gradient(0deg, transparent, rgba(0,0,0,0.05));
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
audio {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

p{
  text-align: justify;
}
