.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

.navbar>.content::before{
	box-shadow: none;
}
#breadcrumbs>ul {
    margin: -3rem 0 .5rem;
}

a.nav-btn:focus, button.nav-btn:focus {
    background-image: none;
}

a.nav-btn:hover, button.nav-btn:hover {
    background-image: linear-gradient(0deg, transparent, rgba(0,0,0,0.05));
}
.styles__waveform___3PY0T{
    display: none;
}
.styles__waveform___3PY0T{
    display: none;
}

.btn{
    background:    #ffffff;
    border:        2px solid #9fc5e8;
    border-radius: 5px;
    padding:       0px 10px;
    color:         #9fc5e8;
    display:       inline-block;
    //font:          normal bold 26px/1 "Calibri", sans-serif;
    text-align:    center;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left : 5px;
    margin-right : 5px;
}

.btn:hover {
      background-color: #9fc5e8;
      color: white;

}

#breadcrumbs>ul {
    height: 1.8rem;
    font-size: 0.8rem;
}
.center {
    text-align : center;
    margin-bottom : 50px;
}
h1, h2, h3, .h1, .h2, .h3 {
    margin: 2rem 0 1rem;
    text-align: left;
}
.sidebar-about>a.sidebar-title>h2 {
    margin: 0;
    padding-bottom: .5rem;
    text-align: center; 
}
footer {
    text-align: center;
}

//.page-title, .post-title {
//    padding-bottom: 0.7em;
//    border-bottom: 1px solid var(--border-color);
//    margin-bottom: 1em;
//}

//hr, .hr {
//    display: none;
//}
